@{
  ViewBag.Title = "GitHub-Git";

  var apiEndpoint = Configuration.ApiEndpoint;

  var sourceUri1 = new Uri(apiEndpoint, "github-git/aetos382/CodeEmbed.Tests/HelloWorld.cs");
  var sourceUri2 = new Uri(apiEndpoint, "github-git/aetos382/CodeEmbed.Tests/branches/master/HelloWorld.cs");
  var sourceUri3 = new Uri(apiEndpoint, "github-git/aetos382/CodeEmbed.Tests/tags/helloworld/HelloWorld.cs");
  var sourceUri4 = new Uri(apiEndpoint, "github-git/aetos382/CodeEmbed.Tests/commits/e48e107ede57aa765d758711877a5e61ba2701db/HelloWorld.cs");
}
<h2>@ViewBag.Title</h2>

<h3>default</h3>
<div>
  <pre id="code-1" class="brush: csharp"></pre>
</div>

<h3>branch</h3>
<div>
  <pre id="code-2" class="brush: csharp"></pre>
</div>

<h3>tag</h3>
<div>
  <pre id="code-3" class="brush: csharp"></pre>
</div>

<h3>commit</h3>
<div>
  <pre id="code-4" class="brush: csharp"></pre>
</div>

@section scripts
{
  <script type="text/javascript">

    $(function () {

      var uris = [
        "@sourceUri1",
        "@sourceUri2",
        "@sourceUri3",
        "@sourceUri4"
      ];

      var requests = [];

      for (var i = 0; i < uris.length; ++i) {
        requests.push($.ajax(uris[i]));
      }

      $.when.apply($, requests).then(function (r1, r2, r3, r4) {

        $('#code-1').text(r1[0]);
        $('#code-2').text(r2[0]);
        $('#code-3').text(r3[0]);
        $('#code-4').text(r4[0]);

        SyntaxHighlighter.highlight();
      });

    });
  </script>
}
