<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<!DOCTYPE html>
<html lang="ja-JP" xml:lang="ja-JP" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>@ViewBag.Title - CodeEmbed</title>

  @Styles.Render("~/Content/css")

  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/SyntaxHighlighter/shCoreEclipse.css")" />

  @Scripts.Render("~/bundles/modernizr")

  @RenderSection("head", false)
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("CodeEmbed", "Default", "Home", null, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>@Html.ActionLink("Home", "Default", "Home")</li>
          <li>@Html.ActionLink("GitHub-Git", "GitHubGit", "Home")</li>
          <li>@Html.ActionLink("GitHub-Gist", "GitHubGist", "Home")</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <div class="row">
        <div class="col-md-2">
          <a href="http://microsoft-worldwide-community-champion-ja-jp.azurewebsites.net/Home"><img src="@Url.Content("~/Content/Images/mscc.png")" alt="Microsoft Community Champion 提出作品" title="Microsoft Community Champion 提出作品" /></a>
        </div>
        <div class="col-md-10">
          <p>CodeEmbed | Copyright &copy; @DateTime.Now.Year - aetos. All rights reserved.</p>
          <p><a href="https://ci.appveyor.com/project/aerie/codeembed"><img src="https://ci.appveyor.com/api/projects/status/h22cd6uydo1e9gqv?svg=true" /></a></p>
        </div>
      </div>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/bundles/SyntaxHighlighter")

  @RenderSection("scripts", required: false)
</body>
</html>

