﻿<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<!DOCTYPE html>
<html lang="ja-JP" xml:lang="ja-JP"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:dc="http://purl.org/dc/elements/1.1/">
<head prefix="og: http://ogp.me/ns# dc: http://purl.org/dc/terms/">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="author" content="aetos" />
  <meta name="keywords" content="CodeEmbed,GitHub,Gist,BitBucket" />
  <meta name="description" content="ブログ等のサイトに GitHub のリポジトリや Gist にあるコードを埋め込むためのサービスです。" />

  <meta property="dc:creator" content="aetos" />
  <meta property="og:title" content="@ViewBag.Title" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:site_name" content="CodeEmbed" />
  <meta property="og:description" content="ブログ等のサイトに GitHub のリポジトリや Gist にあるコードを埋め込むためのサービスです。" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="@ViewBag.Title" />
  <meta name="twitter:description" content="ブログ等のサイトに GitHub のリポジトリや Gist にあるコードを埋め込むためのサービスです。" />
  <meta name="twitter:site" content="@("@aetos382")" />
  <meta name="twitter:creator" content="@("@aetos382")" />

  <title>@ViewBag.Title - CodeEmbed</title>

  <!-- begin bundle:<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/styles.css")"/> -->
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/bower_components/bootstrap/dist/css/bootstrap.css")"/>
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/lightview/css/lightview/lightview.css")"/>
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/syntaxhighlighter/styles/shCore.css")"/>
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/syntaxhighlighter/styles/shThemeEclipse.css")" />
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/site.css")" />
  <!-- end bundle -->

  @RenderSection("head", false)
</head>
<body>
  <header>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          @Html.ActionLink("CodeEmbed", "Default", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
          <nav>
            <ul class="nav navbar-nav">
              <li>@Html.ActionLink("Home", "Default", "Home")</li>
              <li>@Html.ActionLink("GitHub-Git", "GitHubGit", "Home")</li>
              <li>@Html.ActionLink("GitHub-Gist", "GitHubGist", "Home")</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="container body-content">
    <main>
      @RenderBody()
    </main>
    <hr />
    <footer>
      <div class="row">
        <div class="col-md-2">
          <a href="http://microsoft-worldwide-community-champion-ja-jp.azurewebsites.net/Home"><img src="@Url.Content("~/images/mscc.png")" alt="Microsoft Community Champion" title="Microsoft Community Champion 提出作品" /></a>
        </div>
        <div class="col-md-10">
          <p>CodeEmbed | Copyright &#xA9; 2015 - aetos. All rights reserved.</p>
          <p>Version: <a href="https://ci.appveyor.com/project/aerie/codeembed/build/@VersionInfo.BuildNo">@VersionInfo.BuildNo</a> | <a href="https://github.com/aetos382/CodeEmbed/tree/@VersionInfo.Branch">@VersionInfo.Branch</a> | <a href="https://github.com/aetos382/CodeEmbed/commit/@VersionInfo.Commit">@VersionInfo.Commit</a> | @VersionInfo.Configuration</p>
          <p><a href="https://ci.appveyor.com/project/aerie/codeembed/branch/@VersionInfo.Branch"><img src="https://ci.appveyor.com/api/projects/status/github/aetos382/CodeEmbed?branch=@VersionInfo.Branch&amp;svg=true" alt="AppVeyor Build Status"/></a></p>
        </div>
      </div>
    </footer>
  </div>

  <!-- begin bundle:<script type="text/javascript" src="@Url.Content("~/scripts/scripts.js")"></script> -->
  <script type="text/javascript" src="@Url.Content("~/bower_components/jquery/dist/jquery.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/bower_components/bootstrap/dist/js/bootstrap.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/lib/lightview/js/lightview/lightview.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/lib/lightview/js/spinners/spinners.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/lib/syntaxhighlighter/scripts/shCore.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/lib/syntaxhighlighter/scripts/shBrushCSharp.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/lib/syntaxhighlighter/scripts/shBrushJScript.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/scripts/jQuery.SyntaxHighlighter.js")"></script>
  <!-- end bundle -->

  @RenderSection("scripts", required: false)

</body>
</html>
