@{
  ViewBag.Title = "GtHub-Gist";

  var apiEndpoint = Configuration.ApiEndpoint;

  var sourceUri1 = new Uri(apiEndpoint, "github-gist/d80103a9d1c3c12b1786/HelloWorld.cs");
  var sourceUri2 = new Uri(apiEndpoint, "github-gist/d80103a9d1c3c12b1786/8bb67885fee24a9c3c15efe362bfa9f958bed090/HelloWorld.cs");
}

@section head
{
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/lightview/lightview.css")" />
}

<h2>@ViewBag.Title</h2>

<h3>必要なもの</h3>
<div class="row">
  <div class="col-md-6">
    <ul>
      <li>Gist の ID</li>
      <li>ファイル名</li>
      <li>バージョン（オプション）</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="@Url.Content("~/Content/Images/gist-1.png")" class="thumbnail lightview" data-lightview-group="github-gist" data-lightview-group-options="controls: 'thumbnails', skin: 'dark'">
      <img src="@Url.Content("~/Content/Images/gist-1.png")" title="クリックで拡大" />
    </a>
  </div>
  <div class="col-md-3">
    <a href="@Url.Content("~/Content/Images/gist-2.png")" class="thumbnail lightview" data-lightview-group="github-gist">
      <img src="@Url.Content("~/Content/Images/gist-2.png")" title="クリックで拡大" />
    </a>
  </div>
  <div class="col-md-3">
    <a href="@Url.Content("~/Content/Images/gist-3.png")" class="thumbnail lightview" data-lightview-group="github-gist">
      <img src="@Url.Content("~/Content/Images/gist-3.png")" title="クリックで拡大" />
    </a>
  </div>
  <div class="col-md-3">
    <a href="@Url.Content("~/Content/Images/gist-4.png")" class="thumbnail lightview" data-lightview-group="github-gist">
      <img src="@Url.Content("~/Content/Images/gist-4.png")" title="クリックで拡大" />
    </a>
  </div>
</div>

<h3>URL</h3>
<div class="panel panel-default">
  <div class="panel-heading">デフォルト</div>
  <div class="panel-body">
    <p>@(apiEndpoint)github-gist/:id/:filename</p>
    <p>例：@(apiEndpoint)github-gist/d80103a9d1c3c12b1786/HelloWorld.cs</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">バージョン指定</div>
  <div class="panel-body">
    <p>@(apiEndpoint)github-gist/:id/:version/:filename</p>
    <p>例：@(apiEndpoint)github-gist/d80103a9d1c3c12b1786/8bb67885fee24a9c3c15efe362bfa9f958bed090/HelloWorld.cs</p>
  </div>
</div>

<h3>例</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <pre class="brush: js">
  $.ajax("@(apiEndpoint)github-gist/d80103a9d1c3c12b1786/HelloWorld.cs", {
    success: function (data) {
      $('#code').text(data);
      SyntaxHighlighter.highlight();
    }
  });
</pre>
  </div>
</div>

<h3>デモ</h3>
<div class="panel panel-default">
  <div class="panel-heading">デフォルト</div>
  <div class="panel-body">
    <div class="wait-indicator text-center">
      <img src="@Url.Content("~/Content/Images/wait.gif")"/>
    </div>
    <pre id="code-1" class="brush: csharp hidden"></pre>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">バージョン指定</div>
  <div class="panel-body">
    <div class="wait-indicator text-center">
      <img src="@Url.Content("~/Content/Images/wait.gif")" />
    </div>
    <pre id="code-2" class="brush: csharp hidden"></pre>
  </div>
</div>

@section scripts
{
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <script type="text/javascript" src="@Url.Content("~/bundles/LightView")"></script>

  <script type="text/javascript">

    $(function () {

      var uris = [
        "@sourceUri1",
        "@sourceUri2"
      ];

      var requests = [];

      for (var i = 0; i < uris.length; ++i) {
        requests.push($.ajax(uris[i]));
      }

      $.when.apply($, requests).then(function (r1, r2) {

        $('.wait-indicator').hide();
        $('#code-1').text(r1[0]).show();
        $('#code-2').text(r2[0]).show();

        SyntaxHighlighter.defaults['auto-links'] = false;
        SyntaxHighlighter.highlight();
      });

    });

  </script>
}
