@{
  ViewBag.Title = "GtHub-Gist";

  var apiEndpoint = Configuration.ApiEndpoint;

  string sourceUri = new Uri(apiEndpoint, "github-gist/d80103a9d1c3c12b1786/HelloWorld.cs").AbsoluteUri;
}

@section head
{
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/lightview/lightview.css")" />
}

<h2>@ViewBag.Title</h2>

<h3>必要なもの</h3>
<div class="row">
  <div class="col-md-6">
    <ul>
      <li>Gist の ID</li>
      <li>ファイル名</li>
    </ul>
  </div>
  <div class="col-md-3 col-md-offset-3">
    <a href="@Url.Content("~/Content/Images/gist.png")" class="thumbnail lightview" data-lightview-options="skin: 'dark'">
      <img src="@Url.Content("~/Content/Images/gist.png")" title="クリックで拡大" />
    </a>
  </div>
</div>

<h3>URL</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <p>@(apiEndpoint)github-gist/:id/:filename</p>
    <p>例：@(apiEndpoint)github-gist/d80103a9d1c3c12b1786/HelloWorld.cs</p>
  </div>
</div>

<h3>例</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <pre class="brush: js">
  $.ajax("@(apiEndpoint)github-gist/d80103a9d1c3c12b1786/HelloWorld.cs", {
    success: function (data) {
      $('#code').text(data);
      SyntaxHighlighter.highlight();
    }
  });
</pre>
  </div>
</div>

<h3>デモ</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="wait-indicator text-center">
      <img src="@Url.Content("~/Content/Images/wait.gif")" />
    </div>
    <pre id="code" class="brush: csharp hidden"></pre>
  </div>
</div>

@section scripts
{
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <script type="text/javascript" src="@Url.Content("~/bundles/LightView")"></script>

  <script type="text/javascript">

    $(function () {

      $.ajax("@sourceUri", {

        success: function (data) {

          $('.wait-indicator').hide();
          $('#code').text(data).show();

          SyntaxHighlighter.defaults['auto-links'] = false;
          SyntaxHighlighter.highlight();

        }
      });

    });

  </script>
}
