@{
  ViewBag.Title = "GitHub-Git";

  var apiEndpoint = Configuration.ApiEndpoint;

  var sourceUri1 = new Uri(apiEndpoint, "github-git/aetos382/CodeEmbed/CodeEmbed.Web.Site/Content/HelloWorld.cs");
  var sourceUri2 = new Uri(apiEndpoint, "github-git/aetos382/CodeEmbed/branches/master/CodeEmbed.Web.Site/Content/HelloWorld.cs");
  var sourceUri3 = new Uri(apiEndpoint, "github-git/aetos382/CodeEmbed/tags/v0.1/CodeEmbed.Web.Site/Content/HelloWorld.cs");
  var sourceUri4 = new Uri(apiEndpoint, "github-git/aetos382/CodeEmbed/commits/3663d9bc29b8fef20050ed2fe85223f774618e54/CodeEmbed.Web.Site/Content/HelloWorld.cs");
}

@section head
{
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/lightview/lightview.css")" />
}

<h2>@ViewBag.Title</h2>

<h3>必要なもの</h3>
<div class="row">
  <div class="col-md-6">
    <ul>
      <li>ユーザー名</li>
      <li>リポジトリ名</li>
      <li>ファイル パス</li>
    </ul>

    <p>オプションで以下のいずれかを指定できます。</p>
    <ul>
      <li>ブランチ名</li>
      <li>タグ名</li>
      <li>コミット ハッシュ</li>
    </ul>
  </div>
  <div class="col-md-3">
    <a href="@Url.Content("~/Content/Images/git-default.png")" class="thumbnail lightview" data-lightview-group="github-git" data-lightview-group-options="controls: 'thumbnails', skin: 'dark'">
      <img src="@Url.Content("~/Content/Images/git-default.png")" title="クリックで拡大" />
    </a>
  </div>
  <div class="col-md-3">
    <a href="@Url.Content("~/Content/Images/git-commit.png")" class="thumbnail lightview" data-lightview-group="github-git">
      <img src="@Url.Content("~/Content/Images/git-commit.png")" title="クリックで拡大" />
    </a>
  </div>
</div>

<h3>URL</h3>

<div class="panel panel-default">
  <div class="panel-heading">デフォルト</div>
  <div class="panel-body">
    <p>@(apiEndpoint)github-git/:user/:repo/:path</p>
    <p>例：@(apiEndpoint)github-git/aetos382/CodeEmbed/CodeEmbed.Web.Site/Content/HelloWorld.cs</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">ブランチ指定</div>
  <div class="panel-body">
    <p>@(apiEndpoint)github-git/:user/:repo/branches/:branch/:path</p>
    <p>例：@(apiEndpoint)github-git/aetos382/CodeEmbed/branches/master/CodeEmbed.Web.Site/Content/HelloWorld.cs</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">タグ指定</div>
  <div class="panel-body">
    <p>@(apiEndpoint)github-git/:user/:repo/tags/:tag/:path</p>
    <p>例：@(apiEndpoint)github-git/aetos382/CodeEmbed/tags/v0.1/CodeEmbed.Web.Site/Content/HelloWorld.cs</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">コミット ハッシュ指定</div>
  <div class="panel-body">
    <p>@(apiEndpoint)github-git/:user/:repo/:sha/:path</p>
    <p>例：@(apiEndpoint)github-git/aetos382/CodeEmbed/commits/3663d9bc29b8fef20050ed2fe85223f774618e54/CodeEmbed.Web.Site/Content/HelloWorld.cs</p>
  </div>
</div>

<h3>例</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <pre class="brush: js">
$.ajax("@(apiEndpoint)github-git/aetos382/CodeEmbed/CodeEmbed.Web.Site/Content/HelloWorld.cs", {
  success: function (data) {
    $('#code').text(data);
    SyntaxHighlighter.highlight();
  }
});
    </pre>
  </div>
</div>

<h3>デモ</h3>
<p>見た目は全部同じですが、取得方法は異なります。詳細はソースを参照してください。</p>

<div class="panel panel-default">
  <div class="panel-heading">デフォルト</div>
  <div class="panel-body">
    <div class="wait-indicator text-center">
      <img src="@Url.Content("~/Content/Images/wait.gif")" />
    </div>
    <pre id="code-1" class="brush: csharp hidden"></pre>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">ブランチ指定</div>
  <div class="panel-body">
    <div class="wait-indicator text-center">
      <img src="@Url.Content("~/Content/Images/wait.gif")" />
    </div>
    <pre id="code-2" class="brush: csharp hidden"></pre>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">タグ指定</div>
  <div class="panel-body">
    <div class="wait-indicator text-center">
      <img src="@Url.Content("~/Content/Images/wait.gif")" />
    </div>
    <pre id="code-3" class="brush: csharp hidden"></pre>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">コミット ハッシュ指定</div>
  <div class="panel-body">
    <div class="wait-indicator text-center">
      <img src="@Url.Content("~/Content/Images/wait.gif")" />
    </div>
    <pre id="code-4" class="brush: csharp hidden"></pre>
  </div>
</div>

@section scripts
{
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <script type="text/javascript" src="@Url.Content("~/bundles/LightView")"></script>

  <script type="text/javascript">

    $(function () {

      var uris = [
        "@sourceUri1",
        "@sourceUri2",
        "@sourceUri3",
        "@sourceUri4"
      ];

      var requests = [];

      for (var i = 0; i < uris.length; ++i) {
        requests.push($.ajax(uris[i]));
      }

      $.when.apply($, requests).then(function (r1, r2, r3, r4) {

        $('.wait-indicator').hide();
        $('#code-1').text(r1[0]).show();
        $('#code-2').text(r2[0]).show();
        $('#code-3').text(r3[0]).show();
        $('#code-4').text(r4[0]).show();

        SyntaxHighlighter.defaults['auto-links'] = false;
        SyntaxHighlighter.highlight();
      });

    });

  </script>
}
